POSTGRES_USER=postgres
POSTGRES_PASSWORD=TROQUE_POR_UMA_SENHA_FORTE
POSTGRES_DB=mips_db
JWT_SECRET=GERE_COM_openssl_rand_-hex_32_E_TROQUE_AQUI
ADMIN_INITIAL_PASSWORD=TROQUE_POR_UMA_SENHA_INICIAL_FORTE
